<%
  require "rqrcode"

  barcode = Barby::Code128B.new(@order.number)
  outputter = Barby::HtmlOutputter.new(barcode)

  qrcode = RQRCode::QRCode.new(@order_admin_path)
  qrcode_svg = qrcode.as_svg(
    color: "000",
    shape_rendering: "crispEdges",
    module_size: 1,
    standalone: true,
    use_path: true
  )
%>
<style>
.pick-list {
  border-collapse: collapse;
  margin: 20px;
}
.pick-list td {
  border: 1px solid black;
  padding: 6px;
}
.pick-list .col1 {
  width: 400px;
}
.pick-list .col2 {
  width: 200px;
}
table.barby-barcode { border-spacing: 0; width: 50%; }
tr.barby-row {}
td.barby-cell { width: 3px; height: 30px; }
td.barby-cell.on { background: #000; }
</style>
<table>
  <tr>
    <td width="345"><%= image_tag wicked_pdf_asset_base64(Spree::HtmlInvoice::Config[:html_invoice_logo_path] || "store/invoice_logo.jpg"), id: "logo", style: 'height:40%; width:auto;' %>
      <div align="left">
        <p class="qrcode-spacer"><%= qrcode_svg.html_safe %></p>
        <p class="bold spacer">833 N. Elm Street</p>
        <p class="bold spacer">Orange, CA 92867</p>
      </div>
    </td>
    <td width="345">
      <div align="right">
        <p class="title"><%= Spree.t("#{params[:template]}.header") %></p>
        <p class="bold spacer"><%= Spree.t(:order_number, number: @order.number)  %></p>
        <% if @order.respond_to?(:netsuite_sales_order_num) && @order.netsuite_sales_order_num.present? %>
          <p class="bold spacer"><%= Spree.t(:netsuit_sales_order_number, netsuit_number: @order.netsuite_sales_order_num)  %></p>
        <% end %>
        <% if @order.respond_to?(:po_number) && @order.po_number.present? %>
        <p class="bold spacer"><%= Spree.t(:po_number_template, number: @order.po_number)  %></p>
        <% end %>
        <p><%= outputter.to_html.html_safe %></p>
        <p class="bold spacer"> <%=Spree.t(:order_date) %>: <%= @order.completed_at.to_date if @order.completed_at %></p>
        <p class="bold spacer"><%= Spree.t(:order_email) %>:  <%= @order.email %></p>
      </div>
    </td>
  </tr>
</table>
<table class="pick-list">
  <tr>
    <td class="col1">Accounting By:</td><td class="col2">Date:</td>
  </tr>
  <tr>
    <td class="col1">Fulfilled By:</td><td class="col2">Date:</td>
  </tr>
  <tr>
    <td class="col1">Labels Created By:</td><td class="col2">Date:</td>
  </tr>
  <tr>
    <td class="col1">Prepared for Shipping By:</td><td class="col2">Date:</td>
  </tr>
    <td class="col1">Packed In Shipping By:</td><td class="col2">Date:</td>
  </tr>
  </tr>
    <td class="col1">COA Packed By:</td><td class="col2">Date:</td>
  </tr>
</table>
<% if @order.respond_to?(:request_coa) && @order.request_coa %>
<span style="font-size: 16px; font-weight: bold; color: red; margin-left: 20px;">*** COA (Certificate of Analysis) requested. ***</span><br/><br/><br/>
<% end %>