<table class="totals">
  <tr>
    <td class="cel1 bold"><%= Spree.t(:item_total) %>: </td>
    <td class="cel2 bold cell" align="right"><%= @order.display_item_total.to_html %></td>
  </tr>
  <tr>
    <td class="cel1 bold"> <%= Spree.t(:shipment_amount) %>: </td>
    <td class="cel2 cell" align="right"><%= @order.display_shipment_total.to_html %></td>
  </tr>
  <% if @order.route_insurance_selected 
      route_insurance_total = Spree::Money.new(@order.route_insurance_price, currency: @order.currency)
  %>
    <tr>
      <td class="cel1 bold"><%= I18n.t(:shipping_protection, scope: 'activerecord.attributes.spree/order') %>:</td>
      <td class="cel2 cell" align="right"><%= route_insurance_total.to_html %></td>
    </tr>
  <% end %>
  <% @order.all_adjustments.eligible.each do |adjustment| %>
    <tr>
      <td class="cel1 bold"><%= show_label(adjustment) %>:</td>
      <td class="cel2 cell" align="right"><%= adjustment.display_amount.to_html %></td>
    </tr>
  <% end %>
  <% if @order.using_store_credit? %>
    <tr>
      <td class="cel1 bold"><%= Spree.t(:store_credit_name) %>:</td>
      <td class="cel2 cell" align="right"><%= @order.display_total_applied_store_credit.to_html %></td>
    </tr>
  <% end %>
  <tr>
    <td class="cel1 bold"><strong><%= Spree.t(:order_total) %>:</strong></td>
    <td class="cel2 cell" align="right"><strong><span id='summary-order-total'><%= @order.display_total.to_html %></span></strong></td>
  </tr>
  <% if @order.using_store_credit? %>
    <tr>
      <td class="cel1 bold">Amount Charged:</td>
      <td class="cel2 cell" align="right"><%= Spree::Money.new(@order.order_total_after_store_credit, currency: @order.currency) %></td>
    </tr>
  <% end %>
</table>
