<table>
  <tr>
    <td width="345"><%= image_tag wicked_pdf_asset_base64(Spree::HtmlInvoice::Config[:html_invoice_logo_path] || "store/invoice_logo.jpg"), id: "logo", style: 'height:40%; width:auto;' %>
      <div align="left">
        <p class="bold spacer">833 N. Elm Street</p>
        <p class="bold spacer">Orange, CA 92867</p>
      </div>
    </td>
    <td width="345">
      <div align="right">
        <p class="title"><%= Spree.t("#{@template}.header") %></p>
        <p class="bold spacer"><%= Spree.t(:order_number, number: @order.number)  %></p>
        <% if @order.respond_to?(:po_number) && @order.po_number.present? %>
        <p class="bold spacer"><%= Spree.t(:po_number_template, number: @order.po_number)  %></p>
        <% end %>
        <p class="bold spacer"> <%=Spree.t(:order_date) %>: <%= @order.completed_at.to_date if @order.completed_at %></p>
        <p class="bold spacer"><%= Spree.t(:order_email) %>:  <%= @order.email %></p>
      </div>
    </td>
  </tr>
</table>
